<h1>New List</h1>
<div>
	<%= simple_form_for(@list) do |f| %>
	  <%= f.input :name %>
	  <%= f.input :order %>
	  <div class="form-group">
	    <%= f.button :submit, value: "Сохранить", class: "btn btn-primary" %>
	  </div>
	<% end %>
</div>

